/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
	font-family: 'Quicksand', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;

}

img:nth-child(1) {
	width: 10em;
}

nav img:nth-child(1) {
	width: 2em;
	margin-top: 0.5em;

}

h1 {
text-align: center; 
font-size: 2em;
margin: 1em;
font-family: 'Roboto Condensed', sans-serif;
}

form {
	display: flex;
	flex-direction: column; 
}

input:nth-child(1) {
	border-style: none;
	padding: 1em;
	box-shadow: -5px 19px 72px 44px rgba(0,0,0,0.10);
	margin-bottom: 1em;
	font-size: 1.3em;
	font-family: 'Quicksand', sans-serif;
}

input:nth-child(2) {
	border-style: none;
	padding: 1.2em;
	background-color: #fd5444;
	text-transform: uppercase;
	color: white;
	font-size: 1.1em;
}
div img:nth-child(1) {
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.8em;
	margin-right: 0.7em
}

main div {
	display: flex;
	font-size: 0.9em;
	justify-content: center;
	margin-top: 1em;
}

#persoon {
	width: 100%
}

ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;	
}

li img:nth-child(1){
	width: 6em;
}

