/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
	font-family: 'Quicksand', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;

}

header > a:first-of-type img:first-of-type {
	width: 10em;
}

nav img:nth-child(1) {
	width: 2em;
	margin-top: 0.5em;

}

h1 {
text-align: center; 
font-size: 2em;
margin: 1em;
font-family: 'Roboto Condensed', sans-serif;
}

main div:first-of-type {
	display: flex;
}

main > div:nth-of-type(1) img:first-of-type{
	width: 2em;
	height: 2em;
	margin-left: 1em;
	margin-top: 0.5em;
}

form {
	display: flex;
	flex-direction: column; 
}

input:nth-child(1) {
	border-style: none;
	padding: 1em;
	box-shadow: -5px 19px 72px 44px rgba(0,0,0,0.10);
	margin-bottom: 1em;
	font-size: 1.3em;
	font-family: 'Quicksand', sans-serif;
}

input:nth-child(2) {
	border-style: none;
	padding: 1.2em;
	background-color: #fd5444;
	text-transform: uppercase;
	color: white;
	font-size: 1.1em;
}
/*main div:first-of-type img:first-of-type {
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.8em;
	margin-right: 0.7em*/
}

main div {
	display: flex;
	font-size: 0.9em;
	justify-content: center;
	margin-top: 1em;
}

#persoon {
	width: 100%;
	margin-bottom:1em;
}

ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;	
}

li img:nth-child(1){
	width: 6em;
	padding: 0.5em;
}


main article img {
	width: 9em;
	padding-top: 0.5em;
	padding-left: -0.5em;

}

h2 {
font-size: 1.2em;
font-weight: 900;

}

h3 {font-size: 2.8vw;
	margin-bottom: 0.5em;

}

main article {

	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: -1em;
}

main article div {
	display: flex;
	flex-direction: column;
	box-shadow: -3px -1px 12px 6px rgba(0,0,0,0.06);
	padding: 1em;
	padding-right: 1em;
	border-style: solid 1px gray;

} 

main > div:first-of-type p{
	margin: 1em;
}

p {
	margin: 0em;
}


hr {
	background-color: #D1D3D4;
}


li {
	display: flex;
	margin-top: 2em;

}

section li img {
	margin-top: -1.2em;
}

section li{
margin-left: -2em;
}

section:nth-of-type(2) h2, section:nth-of-type(1) h2:first-of-type {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center; 
	font-size: 1.7em;
	margin: 0.5em;
	margin-top: 2em;
}



section:first-of-type > h2:nth-of-type(2) {
	font-size: 1em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5em;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 900;
	display: flex;
	justify-content: center;
}

section:nth-of-type(2) div{
	position: relative;

}

section:nth-of-type(2)  article {
	margin-top: 1em;
	text-align: center;
	display: block;
	
} 

section:nth-of-type(2)  div article img {
	width: 100%
}

section:nth-of-type(2) div article h3 {
	text-transform: bold;
	font-size: 1.2em;
	font-family: 'Roboto Condensed', sans-serif;
}
section:nth-of-type(2) > article p {
	font-size: 0.8em;
	line-height: 2em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

section:nth-of-type(2) div > button:first-of-type, section:nth-of-type(2) div > button:nth-of-type(2) {
	position: absolute;
	transform: translateY(-200%);
	top: 50%;
	width: 1.5em;
	border-style: none;
	background-color: white;
	width: 2em;
}

section:nth-of-type(2) div button:first-of-type {
	left: 0;
}

section:nth-of-type(2) div button:nth-of-type(2) {
	right:0;
}

section:nth-of-type(2) a:nth-of-type(2) {
	border-style: none;
	background-color: #fd5444;
	text-transform: uppercase;
	color: white;
	font-size: 0.9em;
	padding: 1.4em;
	margin:2em;
	margin-left: 5.5em;
	margin-right: 5.5em;	
}

section:nth-of-type(2) div button:first-of-type img, section:nth-of-type(2) div button:nth-of-type(2) img{
	width: 100%
}

footer {
	background-color: #365a84;
	color: white;
	padding-top:3em;
	padding-bottom: 2em;

}

footer div:first-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 2.5em;
}

footer div a img {
	width: 2em;
}

footer div:nth-of-type(2) {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
}

footer div a 
{
	/*color: white;
	margin: 1em;*/
	display: block;
	padding-left: 0.4em;
}

footer a {
	color: white;
	margin: 1em;
	font-size: 0.8em;
}


footer > p {
	text-align: center;
	font-size: 0.8em;
	margin: 2em;
}